<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
	<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<title>Motate PinMuxer</title>
	</head>

	<body ng-app="pinoutApp">
		<header>
			<div class="inner">
				<h1>Motate</h1>
				<h2>SAM3X8C Pin Mixer</h2>
			</div>
		</header>

		<div id="content-wrapper" ng-controller="PinoutCtrl">
			<div class="inner clearfix">
				<section id="main-content">
					<tabset>
						<tab heading="Boards">
							<form name="boardForm" ng-submit="submitBoard(this)">
								<select ng-model="$parent.boardDoc" ng-options="board.doc as board.doc._id group by board.doc.processor for board in motateBoardsView.rows"></select>
								<button class="btn btn-primary btn-xs pull-right" ng-disabled="!boardForm.$dirty">Save</button>
								<table id="boardTable" class="breathe">
									<tr>
										<th class="align-left-cell" ng-click="boardPredicate = ['motate_pin']; handleBoardReverse(0)">
											Motate
											<span ng-class="{'grey-sort':(boardSortColumn!=0), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = ['motate_name']; handleBoardReverse(1)">
											MotateName
											<span ng-class="{'grey-sort':(boardSortColumn!=1), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = [boardSortFn('pin')]; handleBoardReverse(6)">
											Pin
											<span ng-class="{'grey-sort':(boardSortColumn!=6), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = [boardSortFn('gpio_port'), boardSortFn('gpio_pin')]; handleBoardReverse(2)">
											GPIO
											<span ng-class="{'grey-sort':(boardSortColumn!=2), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = [boardSortFn('has_pwm', 1), boardPWMSortFn('type'), boardPWMSortFn('number'), boardPWMSortFn('channel'), boardPWMSortFn('peripheral')]; handleBoardReverse(3)">
											PWM
											<span ng-class="{'grey-sort':(boardSortColumn!=3), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = [boardSortFn('has_spi', 1), boardSPISortFn('type'), boardSPISortFn('pin'), boardSPISortFn('peripheral')]; handleBoardReverse(4)">
											SPI
											<span ng-class="{'grey-sort':(boardSortColumn!=4), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="boardPredicate = [boardSortFn('has_twi', 1), boardTWISortFn('number'), boardTWISortFn('type')]; handleBoardReverse(5)">
											I2C
											<span ng-class="{'grey-sort':(boardSortColumn!=5), 'btn':1, 'btn-xs':1}"><span ng-if="!boardReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="boardReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
									</tr>
									<tr ng-repeat="pin in boardDoc.pins | orderBy:boardPredicate:boardReverse" ng-controller="BoardPinCtrl">
										<td class="align-left-cell"><input type="number" ng-model="pin.motate_pin" min="0" max="200"><a class="fix-button btn btn-warning btn-xs" ng-hide="pin.motate_pin|appropriatePinNum:pin.motate_name:motatePinNameLookup" ng-click="fixPinNum(pin)"><span class="glyphicon glyphicon-arrow-left"></span></button></td>
								
										<td class="align-left-cell">
											<input type="text" ng-model="pin.motate_name" placeholder="motate pin name" typeahead="rule.motate_name as rule.motate_name for rule in motatePinNameLookup | appropriatePins:$viewValue:pin:processorPin" typeahead-loading="loadingLocations" class="form-control">
											<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
										</td>
								
										<td class="align-left-cell">{{processorPin.pin}}</td>
										<td class="align-left-cell">{{processorPin.gpio_port+processorPin.gpio_pin}}</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.needs_pwm" ng-disabled="!processorPin.has_pwm">
											<span ng-if="processorPin.has_pwm">
												{{processorPin.pwm.type}}&lt;{{processorPin.pwm.number}}&gt; (Ch: {{processorPin.pwm.channel}}, Per: {{processorPin.pwm.peripheral}})
												<span ng-if="processorPin.pwm.inverted">&#x293E;</span>
											</span>
										</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.needs_spi" ng-disabled="!processorPin.has_spi">
											<span ng-if="processorPin.has_spi">
												<span ng-if="processorPin.spi.type=='cs'">CS</span><span ng-if="processorPin.spi.type=='other'">MISO/MOSI/SCK</span>{{processorPin.spi.number}}
												(Per: {{processorPin.spi.peripheral}})
											</span>
										</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.needs_twi" ng-disabled="!processorPin.has_twi">
											<span ng-if="processorPin.has_twi">
												{{processorPin.twi.type+processorPin.twi.number}}
												<!-- (Per: {{processorPin.twi.peripheral}}) -->
											</span>
										</td>
								
									</tr>
								</table>
							</form>
						</tab>
						<tab heading="Processors">
							<form name="processorForm" ng-submit="submitProcessor(this)">
								<select ng-model="$parent.processorDoc" ng-options="processor.doc as processor.doc._id for processor in motateProcessorsView.rows"></select>
								<button class="btn btn-primary btn-xs pull-right" ng-disabled="!processorForm.$dirty">Save</button>
								<table id="processorTable" class="breathe">
									<tr>
										<th class="align-left-cell" ng-click="processorPredicate = ['pin']; handleProcessorReverse(0)">
											Pin
											<span ng-class="{'grey-sort':(processorSortColumn!=0), 'btn':1, 'btn-xs':1}"><span ng-if="!processorReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="processorReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="processorPredicate = ['gpio_port','gpio_pin']; handleProcessorReverse(1)">
											GPIO
											<span ng-class="{'grey-sort':(processorSortColumn!=1), 'btn':1, 'btn-xs':1}"><span ng-if="!processorReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="processorReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="processorPredicate = ['!has_pwm', 'pwm.type', 'pwm.number', 'pwm.channel']; handleProcessorReverse(2)">
											PWM
											<span ng-class="{'grey-sort':(processorSortColumn!=2), 'btn':1, 'btn-xs':1}"><span ng-if="!processorReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="processorReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="processorPredicate = ['!has_spi', 'spi.type', 'spi.pin']; handleProcessorReverse(3)">
											SPI
											<span ng-class="{'grey-sort':(processorSortColumn!=3), 'btn':1, 'btn-xs':1}"><span ng-if="!processorReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="processorReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
										<th class="align-left-cell" ng-click="processorPredicate = ['!has_twi', 'twi.number', 'twi.type']; handleProcessorReverse(4)">
											I2C
											<span ng-class="{'grey-sort':(processorSortColumn!=4), 'btn':1, 'btn-xs':1}"><span ng-if="!processorReverse" class="glyphicon glyphicon-sort-by-attributes"></span><span ng-if="processorReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span></span>
										</th>
									</tr>
									<tr ng-repeat="pin in processorDoc.pins | orderBy:processorPredicate:processorReverse">
										<td class="align-left-cell"><input type="number" ng-model="pin.pin" min="0" max="200"></td>
										
										<td class="align-left-cell">{{pin.gpio_port + pin.gpio_pin}}</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.has_pwm">
											<span ng-if="pin.has_pwm">
												<select ng-model="pin.pwm.type" ng-options="type for type in timerTypeOptions"></select>
												<span ng-if="pin.pwm.type=='Timer'"><select ng-model="pin.pwm.number" ng-options="type for type in timerNumberOptions"></select><select ng-model="pin.pwm.channel" ng-options="type.value as type.name for type in timerChannelOptions"></select></span>
												<span ng-if="pin.pwm.type=='PWMTimer'"><select ng-model="pin.pwm.number" ng-options="type for type in pwmTimerNumberOptions"></select></span>
												<select ng-model="pin.pwm.peripheral" ng-options="type.value as type.name for type in peripheralOptions"></select>
												&nbsp;<input type="checkbox" ng-model="pin.pwm.inverted" ng-value="true">&#x293E;
												<!-- {{pin.pwm.type}}&lt;{{pin.pwm.number}}&gt;::channel = "{{pin.pwm.channel}}" -->
											</span>
										</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.has_spi">
											<span ng-if="pin.has_spi">
												<select ng-model="pin.spi.type" ng-options="type.value as type.name for type in spiTypeOptions"></select>
												<span ng-if="pin.spi.type=='cs'"><select ng-model="pin.spi.pin" ng-options="type for type in spiPinOptions"></select></span>
												<select ng-model="$parent.pin.spi.peripheral" ng-options="type.value as type.name for type in peripheralOptions"></select>
											</span>
										</td>
								
										<td class="align-left-cell">
											<input type="checkbox" ng-model="pin.has_twi">
											<span ng-if="pin.has_twi">
												<select ng-model="pin.twi.type" ng-options="type.value as type.name for type in twiTypeOptions"></select>
												<select ng-model="pin.twi.number" ng-options="type for type in twiNumberOptions"></select>
											</span>
										</td>
								
									</tr>
								</table>
							</form>
						</tab>
						<tab heading="Output">
<pre class="prettyprint linenums"><span ng-repeat="pin in boardDoc.pins | orderBy:'motate_pin':false" ng-controller="BoardPinCtrl">		_MAKE_MOTATE_PIN({{pin.motate_pin}}, {{processorPin.gpio_port}}, '{{processorPin.gpio_port}}', {{processorPin.gpio_pin}});	// {{pin.motate_name}}<span ng-if="processorPin.has_spi &amp;&amp; processorPin.spi.type=='cs'">
			_MAKE_MOTATE_SPI_CS_PIN({{pin.motate_pin}}, {{processorPin.spi.peripheral}}, {{processorPin.spi.pin}});</span><span ng-if="processorPin.has_spi &amp;&amp; processorPin.spi.type=='other'">
			_MAKE_MOTATE_SPI_OTHER_PIN({{pin.motate_pin}}, {{processorPin.spi.peripheral}});</span><span ng-if="processorPin.has_pwm">
			_MAKE_MOTATE_PWM_PIN({{pin.motate_pin}}, Motate::{{processorPin.pwm.type}}&lt;{{processorPin.pwm.number}}&gt;, /*Channel:*/ {{processorPin.pwm.channel}}, /*Peripheral:*/ {{processorPin.pwm.peripheral}}, /*Inverted:*/ {{processorPin.pwm.inverted}}); <span ng-if="processorPin.pwm.inverted">// INVERTED!</span></span>

</span></pre>
						</tab>
						<tab heading="JSON">
							<pre class="prettyprint">{{processorDoc.pins|json}}</pre>
						</tab>
								<div class="btn btn-primary btn-xs pull-right" ng-disabled="$rootScope.loggedIn" ng-click="logOut()">Logout</div>
					</tabset>
				</section>
			</div>
		</div>

		<script src="lib/angular/angular.js"></script>
		<!-- <script src="lib/angular/angular-route.js"></script>-->
		<script src="lib/angular/angular-cookies.js"></script>
		<!--	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>-->
		<!--	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-cookies.min.js"></script>-->
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
		<script src="javascripts/angular-cornercouch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="javascripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script src="javascripts/ngDebounce.js"></script>
		<script src="javascripts/app.js"></script>

  
	</body>
	</html>